<a href="https://colab.research.google.com/github/pbarizza/DO180-apps/blob/master/pbarizza_loan_amount_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Course Machine Learning
*Professor Ladle Patel*

*Student Pietro Barizza*

*Date 27.06.2025*

**Assignment:** Develop a Simple Linear Regression Model (40% of Total Grade)

**Objective:** Your task is to develop a simple linear regression model to predict an outcome based on a dataset relevant to your chosen domain. This assignment will help you apply regression techniques, data preprocessing, and model evaluation skills.

In [7]:
#importing libraries
# pandas to load data, sklearn for the regression model, metrics and model selection
# label encoder to convert strings into numbers
# matplotlib for visualization
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt

In [8]:
# load the dataset from github
# alternatively the dataset can be loaded locally
loan_df = pd.read_csv('https://raw.githubusercontent.com/pbarizza/ML-course-2025/refs/heads/main/LoanAmountPrediction.csv')
loan_df.head()

,Applicant_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,Loan_Amount_Term,Credit_History,Property_Area,LoanAmount
0,A001,Male,Yes,1,Graduate,Yes,2526,8734,360,1,Rural,179.0
1,A002,Female,Yes,2,Not Graduate,No,5224,845,180,1,Semiurban,134.0
2,A003,Male,Yes,0,Not Graduate,No,17069,5777,360,1,Rural,373.0
3,A004,Male,No,0,Graduate,No,13536,3036,180,1,Urban,288.0
4,A005,Male,Yes,0,Graduate,No,15547,5947,120,1,Urban,347.0

In [17]:
# get general info about the dataset
loan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Applicant_ID       500 non-null    object
 1   Gender             500 non-null    object
 2   Married            500 non-null    object
 3   Dependents         500 non-null    object
 4   Education          500 non-null    object
 5   Self_Employed      500 non-null    object
 6   ApplicantIncome    500 non-null    int64
 7   CoapplicantIncome  500 non-null    int64
 8   Loan_Amount_Term   500 non-null    int64
 9   Credit_History     500 non-null    int64
 10  Property_Area      500 non-null    object
 11  LoanAmount         500 non-null    float64
dtypes: float64(1), int64(4), object(7)
memory usage: 47.0+ KB

In [18]:
# columns of the dataset
loan_df.columns

Index(['Applicant_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'LoanAmount'],
      dtype='object')

In [19]:
# size of the dataset
loan_df.shape

(500, 12)

In [23]:
# check for null values
loan_df.isnull().sum()

Applicant_ID         0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
LoanAmount           0
dtype: int64

In [25]:
# check for not numeric values
# columns returning False will have to be treated (encoded) first
loan_df.apply(lambda x: pd.to_numeric(x, errors='coerce').notnull().all())

Applicant_ID         False
Gender               False
Married              False
Dependents           False
Education            False
Self_Employed        False
ApplicantIncome       True
CoapplicantIncome     True
Loan_Amount_Term      True
Credit_History        True
Property_Area        False
LoanAmount            True
dtype: bool

In [27]:
# since regression expects numbers to feed the model all columns that are strings mmust first be encoded as numbers
# using label encder to transform gender into number 0=female, 1=male
loan_df['Gender'] = LabelEncoder().fit_transform(loan_df['Gender'])
loan_df['Gender'].head()

NameError: name 'LabelEncoder' is not defined

In [20]:
# separate independent variables (features matri X) from the dependent variable (target vector y)
X = loan_df.drop('LoanAmount', axis=1)
y = loan_df['LoanAmount']

In [22]:
X

,Applicant_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,Loan_Amount_Term,Credit_History,Property_Area
0,A001,Male,Yes,1,Graduate,Yes,2526,8734,360,1,Rural
1,A002,Female,Yes,2,Not Graduate,No,5224,845,180,1,Semiurban
2,A003,Male,Yes,0,Not Graduate,No,17069,5777,360,1,Rural
3,A004,Male,No,0,Graduate,No,13536,3036,180,1,Urban
4,A005,Male,Yes,0,Graduate,No,15547,5947,120,1,Urban
...,...,...,...,...,...,...,...,...,...,...,...
495,A496,Male,Yes,0,Graduate,No,9340,2591,240,0,Rural
496,A497,Male,Yes,3+,Not Graduate,No,9967,7183,180,0,Semiurban
497,A498,Female,No,3+,Graduate,No,14415,5248,120,0,Urban
498,A499,Male,No,2,Graduate,Yes,13871,8766,240,1,Semiurban
499,A500,Female,Yes,2,Graduate,No,13916,5108,360,1,Semiurban